main 
{
	display : flex;
	width : 60%;
	margin-left : auto;
	margin-right : auto;
	flex-flow : row wrap;
	font-family : mons;
	
}
html
{
	min-height : 100%;
	background : white;
	color : rgb(64, 64, 64);
}
header h1
{
	font-family : mons;
	font-size : 60px;
	text-align : center;
	
}